@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

@font-face {
    font-family: MontSerrat;
    src: url(./../../src/assets/fonts/Montserrat-Medium.ttf);
}

body,
button,
input {
    font-family: MontSerrat !important;
}
