@import '~semantic-ui-css/semantic.min.css';

button,
input,
optgroup,
select,
textarea {
  font-family: Montserrat, sans-serif;
}

* {
  line-height: normal !important;
}

html {
  font-size: 16px;
}

body {
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  font-smoothing: antialiased;
}

button,
a {
  cursor: pointer;
}

button,
input {
  color: inherit;
  border: none;
  background-color: inherit;
  padding: 0;
}
