@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
}

* {
  line-height: normal !important;
}

html {
  font-size: 16px;
}

body {
  font-size: 16px;
  font-family: sans-serif;
  font-smoothing: antialiased;
}

button,
a {
  cursor: pointer;
}

button,
input {
  font-family: MontSerrat, sans-serif;
  color: inherit;
  border: none;
  background-color: inherit;
  padding: 0;
}
